<h1>Hanger6</h1>
  <div id="main-header">
    <%= link_to "Home", "#" %> ||
    <% if current_user.nil? %>
      <%= link_to "Sign Up", "#" %> ||
      <%= link_to "Log In", "#" %> ||
    <% else %>
      <%= link_to("Sign out", destroy_user_session_path, :method => :delete) %> ||
    <% end %>
    <%= link_to "Aircraft", "#" %> ||
    <%= link_to "Flights", "#" %> ||
    <%= link_to "Passengers", "#" %> ||
    <%= link_to "Employees", "#" %>
    Test
  </div>
<br>
